[Unit]
Description=Check public Web-corp IP certificate renewal twice daily

[Timer]
OnCalendar=*-*-* 00,12:00:00 UTC
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
