[Unit]
Description=Run Honeypot Prediction Weight Calibration Daily

[Timer]
OnCalendar=daily
Persistent=true
Unit=honeypot-calibration-worker.service

[Install]
WantedBy=timers.target
