{
  "device.node_id": "$OPENCANARY_NODE_ID",
  "device.name": "ubuntu-pi-http-login",
  "device.desc": "HTTP login honeypot",
  "device.listen_addr": "$OPENCANARY_LISTEN_ADDR",

  "ftp.enabled": false,
  "git.enabled": false,
  "http.enabled": true,
  "http.port": 8081,
  "http.skin": "basicLogin",
  "http.banner": "Apache/2.4.58 (Ubuntu)",
  "http.log_redirect_request": true,
  "http.log_unimplemented_method_requests": true,
  "https.enabled": false,
  "httpproxy.enabled": false,
  "mssql.enabled": false,
  "mysql.enabled": false,
  "ntp.enabled": false,
  "portscan.enabled": false,
  "rdp.enabled": false,
  "redis.enabled": false,
  "sip.enabled": false,
  "smb.enabled": false,
  "snmp.enabled": false,
  "ssh.enabled": false,
  "tcpbanner.enabled": false,
  "tcpbanner_1.enabled": false,
  "telnet.enabled": false,
  "tftp.enabled": false,
  "vnc.enabled": false,

  "logger": {
    "class": "PyLogger",
    "kwargs": {
      "formatters": {
        "plain": {
          "format": "%(message)s"
        }
      },
      "handlers": {
        "console": {
          "class": "logging.StreamHandler",
          "stream": "ext://sys.stdout"
        },
        "file": {
          "class": "logging.handlers.RotatingFileHandler",
          "filename": "/var/log/opencanary/events.jsonl",
          "maxBytes": 10485760,
          "backupCount": 7,
          "encoding": "utf-8"
        }
      }
    }
  }
}
